
@font-face {
  font-family: 'BArabicStyle';
  src: url('BArabicStyle.eot?#iefix') format('embedded-opentype'),  url('BArabicStyle.woff') format('woff'), url('BArabicStyle.ttf')  format('truetype'), url('BArabicStyle.svg#BArabicStyle') format('svg');
  font-weight: normal;
  font-style: normal;
}
